body {
  background-color: silver;
}

#container {
  width: 800px;
  margin: auto;
  background-color: white;
}

header {
  padding: 40px;
  height: 80px;
}

nav {
  padding: 8px 40px;
  background-color: #ffb6c1;
  color: #008000;
}

article {
  padding: 40px;
  min-height : 400px;
}

footer {
  padding: 40px;
  height: 40px;
  background-color : #ffb6c1;
  color: #008000;
}
